[2019-10-08 09:26] Publiskills opened #2 "Images command doesn't work in k8s-deploy when using an image from a private repository with a specified port"
When trying to update the image reference in my deployment script, there's an issue.

In my action file I have
[code]
When I check the "k8s-deploy/src/kubernetes-utils.ts", I can see the to find which image should be replace there's a

let imageName = container.split(':')[0];
Which can't work in this case. I think it should be:
[code]

[2019-10-08 09:27] Publiskills commented on #2
A PR has been submitted: https://github.com/Azure/k8s-deploy/pull/1

[2019-10-23 00:00] sakthi-vetrivel opened #3 "Trying to specify different image version in workflow yaml than in deployment.yaml"
I'm running the azure-vote-front app with GitHub Actions and k8s-actions as a CI/CD pipeline with my AKS cluster. I want to have the k8s-deploy action to deploy the version of the image that I have just built using container-actions. However, I have a container image specified in the deployment
,yaml that is a different version. Can I override this using the images field in k8s-deploy?

I'm mostly

[2019-10-23 00:29] sakthi-vetrivel commented on #3
Never mind, found some more documentation. Closing.

[2019-10-23 00:29] #3 closed

[2019-11-13 19:52] niekappartmedia opened #5 "Use github secrets in manifest files"
Currently i am setting up k8s deployment of my containers via the k8s-deploy action.
Huge thnx for creating this by the way.
But for now i am having troubles with using github secrets in the manifest yaml files.
I am trying to setup a mysql database container for example and want to set the username and password with my Github secrets. But in the manifest yaml files i cant use the github secrets.

[2019-11-14 07:27] shashankbarsin commented on #5
There's another [action](https://github.com/Azure/k8s-create-secret) for creating a generic secret or docker-registry secret. Use the k8s-create-secret to create the secret with some name you provide as input. Later reference that secret in your manifest files and use this action to deploy the manifests.

[2019-11-14 07:27] #5 closed

[2019-11-22 19:15] Hades32 opened #9 "Wildcards for manifest files are not supported although readme explicitly says so..."
This doesn't work, with a file not found error:
[code]
But this does:

[code]
otherwise great action, but this is really strange...

[2019-11-27 15:05] niekappartmedia opened #10 "Deployment/update error map: map[] does not contain declared merge key: name"
When i deploy the first time with k8s deploy everything works fine.
But when i deploy the second time i get the following error:

error calculating patch from openapi spec: map: map[] does not contain declared merge key: name

Strange though that when i deploy localy the firsttime with kubectl and update everything works fine.
But when k8s has deployed i even can not update with local kubectl i ge

[2019-11-27 21:50] serkanersanli opened #11 "azure/k8s-actions/k8s-deploy@v1 doesn't find the source"
As the new version tries to download the source from here : https://api.github.com/repos/azure/k8s-actions/tarball/v1

it raises the below error :
Download action repository 'azure/k8s-actions@v1'
##[warning]Failed to download action 'https://api.github.com/repos/azure/k8s-actions/tarball/v1'. Error Response status code does not indicate success: 404 (Not Found).
##[warning]Back off 27.052 seconds

[2019-11-27 22:37] #11 closed

[2019-11-29 09:43] niekappartmedia commented on #10
So i am a bit further with this issue.

After testing and investigating.
When i update via kubectl -f it works when i comment the imagePullSecret.
After this step when i update again with imagePullSecret uncommented it works also also for azure/k8s-deploy. But after that when i again want to redeploy via azure/k8s-deploy i get the same error. So it looks like the imagePullSecrets are causing all t

[2019-11-29 11:04] lennartschoch commented on #10
I am also experiencing this, but in a slightly different scenario:
I do not specify any imagePullSecrets, yet I get the same error.

What I thought is that kubectl was doing some weird transformation of the YAML file, causing it to map `"imagePullSecrets":[ "name":""]` (which seems to be the value that azure/k8s-deploy passes to kubectl) to `"imagePullSecrets":[map[]]` which is invalid because of

[2019-11-29 11:11] niekappartmedia commented on #10
@lennartschoch
I currently fixed it by removing the azure/k8s-deployment step en creating my own simple deployment step running the kubectl apply commands myself.

  # Deploy everything to the k8s cluster
      - name: Deploy to namespace on kubernetes cluster
        run: |
          kubectl apply -f k8s/redis.yaml -n ${{ env.NAMESPACE }}

But it seems like you already noticed it is some kind of

[2019-11-29 14:13] lennartschoch commented on #10
I was digging into this a little deeper and found out the following:

Apparently, something changed regarding how GitHub actions handle non-defined input parameters (at least, this is the only plausible reason I can think of right now). This caused the pullImageSecrets parameters on the pipeline, if not defined, to be interpreted as an array with one empty string. Kubectl "optimizes" this to an em

[2019-12-02 08:04] niekappartmedia commented on #10
@lennartschoch I will check your merge commit.

[2019-12-04 08:59] ds-ms commented on #10
Shouldn't the section in your manifest look like this
`      containers: `
instead of
`      containerst`

[2019-12-04 09:07] niekappartmedia commented on #10
@ds-ms I see now what your meaning think i hit a wrong button while copying else the first deployment would have never worked. Because the yaml validator should have failed than.

[2019-12-04 09:28] ds-ms commented on #10
What is the error you're seeing in your logs? Could you enable debug and give me some verbose logs to look at?

[2019-12-04 09:34] ds-ms commented on #9
Fixed the README.md file
It is not expected to work with wildcards, yet.

[2019-12-04 09:34] #9 closed

[2019-12-10 08:00] ds-ms commented on #10
I suppose the issue is because of the imagepullrequests section in your deployment.yaml

If you're adding extra image pull secrets in the workflow; it ends up converting the single image pull secret which is like this `"imagePullSecrets":{"name":"n1"}` to `"imagePullSecrets":[{"name":"n1"},{"name":"n2"}]` the edit fails because of the conversion of object to object[]

[2019-12-12 01:57] #2 closed

[2020-01-07 07:13] #10 closed

[2020-02-05 20:47] ronbeilinson commented on #11
Has this been resolved?

[2020-02-13 18:48] ronbeilinson opened #20 "rolling update error using action Azure/k8s-deploy@v1 - map: map[] does not contain declared merge key: name"
When using the action azure/k8s-actions/k8s-deploy@master rolling deployment works ok, but when we try changing to the latest action (Azure/k8s-deploy@v1) we get the following error.

<img width="1309" alt="terminal-output" src="https://user-images.githubusercontent.com/14821538/74467316-d37c7080-4e66-11ea-8ab1-228dd313da80.png">
<img width="714" alt="deployment yml screenshot" src="https://user-i

[2020-02-15 21:24] anajavi commented on #20
I am experiencing the same problem. I guess it is the same problem as in #10.

It seems that this should have been fixed by PR #14, but those changes cannot be found in release branch only in master. So maybe the fix is not released?

[2020-02-18 06:24] shigupt202 commented on #20
The release has been updated with the fix. @ronbeilinson and @anajavi Could you please confirm whether the action works for your scenario now?

[2020-02-18 08:05] anajavi commented on #20
@shigupt202 the action works now. Thank you!

[2020-02-18 09:40] #20 closed

[2020-02-18 21:15] ronbeilinson commented on #20
@shigupt202 will test and let you know! thanks for your help

[2020-02-21 18:41] s-tuli opened #22 "Any plan for supporting deployment using helm upgrade --install ?"

[2020-02-24 17:38] ds-ms commented on #22
Given that it can be achieved directly using CLI, I don't see any valid reason to incorporate it as an action.

cc: @vithati @ammohant thoughts?

[2020-02-25 13:22] ray26 opened #23 "The action input "images" not work"
I hava use "images" option in the github workflow. The README said it will searched for in the image field of the input manifest files. For the matches found, the tags will be substituted. But when i use describe to check the version for the deploymeny, it shows that the deployment use the old version or the default version whic defined in the yaml in my repository. The correct version should be l

[2020-02-25 15:31] s-tuli opened #24 "Add support for an optional flag --force"
Add support for an optional flag --force

Our team's (Azure dev Spaces) customer scenario requires us to deploy when a previous deployment already exists. It cannot be a clean deployment. And in this case, I get an error "file is immutable".

Please add it as an optional flag whose value is false by default. We will add a value true as part of our workflow.

**Additional Detail**: If a job has bee

[2020-02-25 15:48] ronbeilinson commented on #20
works great, thank you!

[2020-02-25 18:47] ds-ms commented on #24
@s-tuli Could you explain your scenario in detail, for building context in this thread.

[2020-02-25 19:52] s-tuli commented on #24
Added additional context above @ds-ms

[2020-02-26 04:57] vithati commented on #22
@s-tuli, helm task upgrade command support arguments. You can specify --install in arguments section.

[2020-02-26 06:36] ds-ms commented on #24
@s-tuli I meant your use-case.

[2020-03-05 11:39] ray26 commented on #23
Excuse me, may I ask the process the issue. For that our program are using this for K8S auto deployment.

[2020-03-05 11:44] ds-ms commented on #23
@ray26 try with `@v1` again.

[2020-03-05 17:55] jeliasson opened #26 "imagePullSecret becomes the image"
Hi,

I'm not sure, but I think commit 1cae8dfe8b6485cf29c5699565ba557165b600b0 broke some things on `Azure/k8s-deploy@v1`. Basically the generated Kubernetes manifest seem to have wrong  `imagePullSecret` value. Instead of the image pull secret, it's the `image` value.

This is what I see in the deployed manifest in Kubernetes (the actual deployed).
[code]
*This is where I expect* `imagePullSecret

[2020-03-05 17:57] ds-ms commented on #26
Let me revert the tag value to unblock this for now.

[2020-03-05 18:00] jeliasson commented on #26
Thanks! I try building now.

[2020-03-05 18:01] ds-ms opened #28 "Add tests"

[2020-03-05 18:04] ds-ms commented on #26
Closing this issue. I'll take up the reverted fix separately.

[2020-03-05 18:04] #26 closed

[2020-03-05 18:05] ds-ms commented on #23
Reopening this issue in reference to https://github.com/Azure/k8s-deploy/issues/26

[2020-03-05 18:12] ds-ms commented on #26
@jeliasson I've rolled out the fix for my previous bug. Could you validate if you're not broken?

[2020-03-05 18:25] jeliasson commented on #26
It seems to be working again. My [latest](https://github.com/sydnod/ci/runs/488360940?check_suite_focus=true) build went thru.

[2020-04-16 00:10] bpowell opened #30 "using `azure/k8s-deploy@v1` errors"
configuration:
[code]

the deployment.yaml contents:
[code]

error message:
[code]

[2020-04-16 03:53] ds-ms commented on #30
Curious, don't you need to mount your imagepullsecrets for accessing the image from your acr?  or did you make it public?

[2020-04-16 06:04] bpowell commented on #30
when not using github actions to do the deployment it works just fine. i didn't think i needed to configure anything different.

[2020-04-16 06:43] ds-ms commented on #30
No no, you don't. I was just curious as to how you've configured.
This seems like a code-defect. I'll take a look.

[2020-04-17 16:41] bpowell commented on #30
trying out `k8s-deploy@master` i get a totally different error

[code]

this is with the same configuration above, just different version of the action

[2020-04-17 18:09] ds-ms commented on #30
`master` doesn't have `node_modules` so you can't use it in your deployments

[2020-04-17 21:33] bpowell commented on #30
okay that makes sense! have you been able to replicate the error? looking through the code on the `v1` tag, it looks like nothing should fail with a `.trim()`

[2020-05-04 10:56] ds-ms commented on #30
@rgsubh to take a look.

[2020-05-08 00:23] funkypenguin opened #33 "Deploy fails with "error: must specify one of -f and -k""
Hey guys,

I'm having trouble making this simple example work:

[code]

The error in the action log is:

[code]

What am I doing wrong? :)

D

[2020-05-08 01:17] funkypenguin commented on #33
Answer: I was trying to apply an empty manifest. Problem solved, nothing to see here!

[2020-05-08 01:17] #33 closed

[2020-05-18 08:04] ds-ms commented on #24
@tauhid621 to take a look

[2020-05-19 12:06] rgsubh commented on #30
Hello @bpowell Can you please let me know if your are still facing this issue? if so can you share your full configuration file. I was not able to recreate the "Cannot read property 'trim' of undefined" even after a few try's.

[2020-05-27 12:43] dberzano opened #34 "Add ability to apply whole directories"
Same as:

[code]

Thanks!

[2020-06-05 06:03] huangyingting opened #40 "Need more explaination about the canary strategy"
I tried create a new fresh github actions with deploy snippet like below

    - name: "Deploy azure vote front"
      uses: Azure/k8s-deploy@v1
      timeout-minutes: 5
      with:
        namespace: ${{env.NAMESPACE}}
        manifests: |
          manifests/front.yml
          manifests/service.yml
        images: |
          ${{secrets.REGISTRY_URL}}/${{env.IMAGE_NAME}}:${{ github.sha }}

[2020-06-18 00:30] hikarukujo opened #45 "Variable as Namespace"
Maybe I'm missing something simple, but I cannot figure this out for the life of me. I'm trying to set the namespace to dev if the branch is not "master" and I have the branch detection working right now. But it looks like k8s-deploy will not take a variable as the namespace name. Maybe it's a syntax error I'm missing? Here is my yaml:

[code]

I succeed on all steps but the last, which says it ca

[2020-06-18 08:38] ds-ms commented on #45
You need to use namespace like `${{ env.NAMESPACE }}` instead of `$NAMESPACE`. Given that the environment variable is not available in that context, it failed because of that.

When you use it like `${{ env.NAMESPACE }}` this value gets replaced with the actual value of the variable and passed to the action.

[2020-06-18 08:38] #45 closed

[2020-06-18 08:49] ds-ms commented on #34
cc: @anraghun

I feel it's cleaner if we introduce a wild character like input where you supply something like `my/dir/with/yaml/files/*.yml` or something like that? Then it shouldn't restrict you from having other types of files in the folder

[2020-06-18 08:49] ds-ms commented on #30
Closing stale issue. Feel free to reopen if it's still happening

[2020-06-18 08:49] #30 closed

[2020-06-18 08:50] #28 closed

[2020-06-18 15:11] hikarukujo commented on #45
That didn't do the trick, it seems to ignore when I do that:
`/usr/bin/kubectl apply -f /tmp/Deployment_revio-calendar-frontend_1592492995710,/tmp/Service_revio-calendar-frontend_1592492995710,/tmp/Ingress_revio-calendar-frontend-ingress_1592492995710 --namespace default
deployment.extensions/revio-calendar-frontend created
error: the namespace from the provided object "dev" does not match the nam

[2020-06-18 17:20] ds-ms commented on #45
You have to declare that environment globally. I suppose that value is not added to the env context because of where you're declaring it.

Consider adding an environment section at the workflow level. Something like this: https://github.com/Azure/actions-workflow-samples/blob/master/Kubernetes/build-and-deploy-docker-image-aks-using-manifests.yml#L15

Documentation: https://help.github.com/en/acti

[2020-06-19 19:15] #24 closed

[2020-06-20 07:36] ds-ms commented on #22
@anraghun is there any plan to have a dedicated action for `helm-deploy` that you foresee in the near future?

[2020-06-25 12:30] torgeirsk opened #48 "Error after annotating"
An error occurs during the latest v1 release, causing the workflow step to fail:

[code]

Workflow step:
[code]

[2020-06-25 12:41] ds-ms commented on #48
cc: @koushdey who has recently introduced this change

[2020-06-25 12:56] torgeirsk commented on #48
It was my understanding that referencing `v1` in:

``` uses: azure/k8s-deploy@v1```

implied using the v1 tag of this repository, in which case it’s strange that we’re getting errors related to recent commits?

[2020-06-25 12:57] koushdey commented on #48
Looking into it

[2020-06-25 13:38] ds-ms commented on #48
I've reverted the changes from the `v1` to the older commit. @torgeirsk you shouldn't be seeing any issues now.

We override the v1 tag whenever we introduce non-breaking changes so that everyone get it without the need for updating their workflows.

[2020-06-30 10:37] #22 closed

[2020-06-30 10:38] ds-ms commented on #22
Closing stale issue. feel free to reopen if this issue is still valid

[2020-07-02 06:05] ds-ms commented on #40
@sundargs2000 given that you've been working on the strategies part recently.. could you address this question?

[2020-07-06 14:27] nic-chen opened #50 "Error: Not all values are present in the creds object. Ensure appId, password and tenant are supplied"
Run Azure/aks-set-context@v1  failed.

##[error]Error: Not all values are present in the creds object. Ensure appId, password and tenant are supplied.

My creds is like :
{
  "appId": "xxx-xxx-xxx-xxx-xxx",
  "displayName": "xx",
  "name": "http://xx",
  "password": "xxx-xx-xx-xx-xx",
  "tenant": "xx-xx-xx-xx-xxx"
}

can somebody help ?  thanks!

[2020-07-06 15:42] #50 closed

[2020-07-14 16:43] enzoqtvf commented on #30
@ds-ms Hey, I'm getting the same issue.
Here is the place where I sue it in my action:
[code]

And I get the exact same issue:
[code]

I've also been trying using some examples from the read me but get same error :/

[2020-07-14 17:53] enzoqtvf commented on #30
@ds-ms I just found what I was doing wrong, I was using a kubeconfig that didn't contain certificates etc... because I used `kubectl config view`to generate it, now it works like a charm ! I hope this will help some people :)

[2020-07-16 05:31] ds-ms commented on #48
Closing this in reference to this PR: https://github.com/Azure/k8s-deploy/pull/49

[2020-07-16 05:31] #48 closed

[2020-07-16 05:53] sundargs2000 commented on #40
@huangyingting if this is the first time you are deploying (ie. there are no azure-vote-front-* pods already), then you would only get '-canary' pods as there are no existing pods to make '-stable' pods to compare canary pods with. after you promote once and there are pods without any suffix, in the next run you would get both canary and stable pods.

[2020-07-25 09:06] royb-sw opened #55 "Job is stuck"
`Azure/k8s-deploy@v1` step doesn't terminate for some reason. Deployment is a success but the action keeps running until manual termination.

step config:

[code]

Ouputs:

[code]

AKS version: 1.17.7

It doesn't matter how long we wait. The step just doesn't terminate. I can supply more logs if needed

[2020-07-25 09:56] #55 closed

[2020-07-25 18:13] ds-ms commented on #55
The action waits until the created pods are in a ready state. Is that why it was waiting in your scenario?

[2020-07-26 06:22] royb-sw commented on #55
yes, this is why I've immediately closed this issue. Sorry  and thanks for replying

[2020-07-29 08:07] #40 closed

[2020-08-29 16:46] ds-ms commented on #34
@anraghun any updates on the decision as to what we should go forward with?

[2020-08-31 09:20] anraghun commented on #34
@ds-ms I like the approach you have proposed. We need to have a file based filter otherwise we would be mandating adding only manifest files to a particular folder.
Let's proceed with `my/dir/with/yaml/files/*.yml`

[2020-09-04 06:40] Enemico commented on #34
We also would really appreciate this feature.

[2020-09-17 15:34] ajinkya599 opened #59 "[Blue-Green Bug Bash] Promote SMI deletes workloads first and then the TrafficSplit"
Repro steps:
- Deploy with `route-method` as `smi`
- Promote the deployment

Current behaviour:
- Deployment and temporary services are deleted first, and then the TrafficSplit resource is deleted
![image](https://user-images.githubusercontent.com/11447401/93493042-1cc6fe00-f929-11ea-8e47-1ccc0f03a981.png)

Expected behaviour:
- TrafficSplit should be deleted first. Otherwise, during the transitio

[2020-09-17 16:01] ajinkya599 commented on #59
The same is applicable for `reject` case.

[2020-09-17 16:06] shigupt202 commented on #59
Are we seeing any unwanted behaviour because of this currently?

[2020-09-17 16:09] shigupt202 opened #60 "[Blue-Green Bug Bash] Doc update for blue green startegy"
The README should be updated with `route-method: ingress` instead of `strategy: ingress` [here](https://github.com/Azure/k8s-deploy/blob/b824a8e3caa166c049c7c83e26c11af1b242b937/README.md#to-promotereject-the-green-workload-created-by-the-above-snippet-the-following-yaml-snippet-could-be-used)

[2020-09-17 16:23] ajinkya599 commented on #59
Upon investigating further, I realised it should be:
- Configure TrafficSplit
- Delete Green deployment
- Delete TrafficSplit
- Delete temporary services

@shigupt202 This can potentially cause a glitch - Requests failing because the services that TrafficSplit is referring are deleted.
Let's discuss this once.

[2020-09-17 19:37] ds-ms commented on #34
@shigupt202 could you pick this up?

[2020-09-18 09:36] ajinkya599 opened #62 "Canary deployment fails if deployments already exist."
In case a deployment is already present, the canary deployment fails if the labels that the action expects are not present (deployed previously, not through this action).
We should unblock this scenario to make the on-boarding seamless.

@ds-ms Captured what we discussed. Please feel free to add/rectify any more details.

[2020-09-18 16:32] ajinkya599 opened #63 "[Blue-Green Bug Bash] Ingress promote/reject modifies non blue-green ingresses"
Repro steps:
- Deploy with `route-method` as `ingress`
- Promote the deployment

Current behaviour:
- On promote, the ingress which is not a part of blue/green also gets applied [Internal run id: 1134759256]
![image](https://user-images.githubusercontent.com/11447401/93622249-6d5a5c00-f9fa-11ea-832a-3992d2764f9f.png)

Expected behaviour:
- Only the ingresses that are identified for blue/green shou

[2020-09-18 16:40] ajinkya599 commented on #63
Same is true for reject:
![image](https://user-images.githubusercontent.com/11447401/93623023-b65ee000-f9fb-11ea-8ad6-f8d75f2f0afa.png)

[2020-10-29 22:51] joseotavioq opened #72 "Possibility to inform environment variable to be replaced in the container"
As we already have the option to change the container name (images).
It would be nice if we have an option to change the environment variable values for containers.

**Example of a YAML for Kubernetes**
[code]

**Example of a Github Action:**
[code]

[2020-10-30 07:40] #59 closed

[2020-11-16 13:31] #63 closed

[2020-11-16 13:31] #60 closed

[2020-12-01 10:57] matthiasfalk commented on #23
I am still receiving this error.

part of workflow file:
`# Deploy app to AKS
    - name: Deploy to aks
      uses: azure/k8s-deploy@v1
      with:
        manifests: |
          deployment.yaml
        images: |
          $CONTAINER_REGISTRY/${{ github.repository }}/$IMAGE_NAME:$IMAGE_TAG
        imagepullsecrets: |
          dockerconfigjson-github-com`

part of deployment.yaml
'containers:

[2020-12-01 11:00] ds-ms commented on #23
Does `$CONTAINER_REGISTRY/${{ github.repository }}/$IMAGE_NAME` translate to `docker.pkg.github.com/matthiasfalk/u8_sample_app/u8_sample_app`?

[2020-12-01 13:05] matthiasfalk commented on #23
Hi @ds-ms: Yes, exactly. For me the uses: azure/k8s-deploy@v1.3 is not working.
I now tried it with a workaround to "manually" open the deployment.yaml with yt, update the tag and kubectl apply the edited deployment.yaml and it works.

[2020-12-02 08:02] ds-ms commented on #23
@matthiasfalk `v1.3` is still in `Pre-release`. Is this issue happening for you in `v1.2` as well?

cc: @ajinkya599

[2020-12-02 09:21] matthiasfalk commented on #23
@ds-ms v1.2 is working now. I needed to use the convention `${{env.CONTAINER_REGISTRY}}/${{ github.repository }}/${{env.IMAGE_NAME}}:${{env.IMAGE_TAG}}`. All other actions could handle the format `$CONTAINER_REGISTRY/${{ github.repository }}/$IMAGE_NAME:$IMAGE_TAG`. So I guess, I found the solution.

[2020-12-07 11:47] shigupt202 commented on #34
This feature can be accessed in v1.4 release of the action

[2020-12-07 11:47] #34 closed

[2020-12-12 22:26] alexpapworth opened #85 "Deploying with latest tag?"
Hiya.

I've got my Kubernetes config set up so it just uses the latest Docker image each time. I've found that this means running `kubectl apply -f deployment.yml` doesn't do anything, I'm assuming because Kubernetes can't recognise that there's a new image for it to deploy.

So instead, I've been running the `kubectl rollout restart deployment/my-app` command.

It seems that this Action uses the

[2020-12-21 15:30] SamMousa opened #86 "Parsing of image substitution incomplete"
This is related to #23 in the sense that the symptom is that replacements don't work.

The regex used to parse an image identifier in the yaml is `const imageKeyword = line.match(/^ *image:/);`.
I had an issue where it was not working for me, because I had a config like this:
[code]

Which isn't correctly parsed by the regex.

The clean solution would be to use a real yaml parser, but an ugly quic

[2020-12-21 16:28] ds-ms commented on #86
That's a good catch. @SamMousa would you be willing to raise a fix for the same?

[2020-12-21 16:31] SamMousa commented on #86
Do you want the quick fix? Because that I can do.

I'm not  not able to commit the time to implement the use of a proper yaml parser that just inspects the names of object properties...

[2020-12-21 16:35] ds-ms commented on #86
You need to update the `.ts` files then locally run `npm run-script build`. I agree it's a little redundant, but this way we get to validate the unexpected compile changes too; which we can confidently take to our releases branch.

The quick fix should do.

cc: @shigupt202 could you validate how we missed this? I remember we solved this in the ADO task?

[2020-12-21 16:38] SamMousa opened #87 "Split source and compiled files"
While there could be arguments for having both the source TS and the compiled JS files in the same repository, I do not believe that there are arguments for having them in PRs / manual commits.

I suspect that code reviews will mostly focus on the TS part which means manual changes to the JS could sneak past reviewers which is a security concern. Furthermore I cannot imagine any sane person enjoys

[2020-12-21 16:40] SamMousa commented on #86
I think it's actually a risk, see #87.

I'll create a PR for the changed regex this week.

[2020-12-21 16:45] ds-ms commented on #87
We have to check in our `node_modules` as well as the `.js` files to make any action work. You could checkout this branch:https://github.com/Azure/k8s-deploy/tree/releases/v1.4

I do agree with your points. Also, we are currently in the process of standardising the way we maintain our actions right now. This seems like a good addition to the bunch of new standards we're planning for all of our azu

[2020-12-21 16:48] ds-ms commented on #85
You could change your imagePullPolcy to make it work.
Here's some documentation I found: https://kubernetes.io/docs/concepts/containers/images/#updating-images

[2020-12-21 16:49] ds-ms commented on #86
Cool. Tag @shigupt202 in your PR so he can take it forward. :)

[2020-12-22 05:23] shigupt202 commented on #86
@ds-ms I can see the fix in ADO task was done in this [PR](https://github.com/microsoft/azure-pipelines-tasks/pull/11883).
Also, in this task we are using yaml parser for `updateImagePullSecretsInManifestFiles`. But somehow the change was missed for `updateContainerImagesInManifestFiles`.

[2020-12-22 09:03] SamMousa commented on #86
Since this is something you guys have worked on internally; I'll refrain from making a PR for now and let you resolve this for yourselves :)

[2020-12-22 09:17] SamMousa commented on #87
https://github.com/actions/typescript-action

I think the recommendation is to use a different branch for releases.

[2020-12-22 09:46] ds-ms commented on #87
@SamMousa I don't think there are any apprehensions from the action team to not have `.js` files in your main branch either. Some actions could have their tests run on the `.js` alone.

I agree that they're redundant in our case as jest test runs work against `.ts` files. We will consider removing them.

[2020-12-22 10:08] SamMousa commented on #87
I think they are a security risk unless you check everything every time... If I add a dependency, are you checking to see if I didn't change the dependency code during review?

The review load is bigger. An alternative I've used is to at least have a CI job for compilation and dep installation to see if it gets the same result. Than you can remove the risk and burden of manual review. Of course th

[2020-12-27 16:23] alexpapworth commented on #85
Ah, nice. I see. So the `latest` tag deploy instructions need to be added to the Kubernetes config, rather than the Github Action config. Nice!

[2021-01-04 05:37] #85 closed

[2021-01-05 11:30] gbaeke opened #101 "Canary deployment error"
Repro steps:
- Version 0.0.1 deployment without canary (5 replicas; in namespace meshed with linkerd)
- Version 0.0.2 deployment with canary using the following YAML:

- uses: azure/k8s-deploy@v1
   with:
     namespace: go-template
     manifests: ${{ steps.bake.outputs.manifestsBundle }}
     images: |
       ghcr.io/USER/IMG:${{ env.IMAGE_TAG }}
     strategy: canary
     percentage: 20
     tr

[2021-01-06 17:53] ds-ms commented on #101
@gbaeke have you tried using one of our latest versions? `v1.4` or `v1.3` maybe?

[2021-01-07 07:28] ds-ms commented on #62
@ajinkya599 are we going to take this forward?

[2021-01-07 10:12] #23 closed

[2021-01-07 21:02] raphaelbernhart opened #102 "Kubectl parse error"
Hello there,

I wanted to automate my deployments with github actions and to now it worked just fine. But now I came to the path where I have to deploy the manifest and there is an error. (https://github.com/raphaelbernhart/exchange/blob/master/.github/workflows/production.yml)

I get the error: ![Bildschirmfoto 2021-01-07 um 21 54 18](https://user-images.githubusercontent.com/48283236/103944313-b

[2021-01-07 21:05] #102 closed

[2021-01-07 22:10] gbaeke commented on #101
@ds-ms I tried both 1.3 and 1.4 without luck

[2021-01-08 05:40] ds-ms commented on #102
@raphaelbernhart did you do something to resolve it? Perhaps if you could post how you resolved it, it would be helpful for any other user facing the same issue

[2021-01-08 13:37] raphaelbernhart commented on #102
### **FIX**
The problem was that have understood the docs wrong. You have to parse the secret not the name of the secret. I thought the secret would be parsed by the service itself.

**wrong:**
[code]

**right:**
[code]

[2021-01-12 05:38] ajinkya599 opened #105 "Invalid label workflowFriendlyName"
It seems like we are adding a string which can have spaces as a label.
<img width="961" alt="image" src="https://user-images.githubusercontent.com/11447401/104274190-4d2d3c00-54c6-11eb-87c9-27aa85f997ab.png">

[2021-01-12 18:13] ds-ms commented on #105
@ajinkya599 add your workflow snippet as well for an easy repro

[2021-01-18 17:31] rachitb777 opened #111 "Actions - Traceability Schema"
Traceability Schema

Abstract
Traceability  involves ability to track the source for issue, code, commit, artifact, workflow, and the user from the package deployed on the resource, through documented records.  This document proposes the traceability schema which captures the traceability data for any deployment which can be used by any "CI/CD" providers and cloud providers to organize the traceab

[2021-01-19 12:02] kmkumaran commented on #111
Discussion Notes:

1. Schema needs a version, so that we can handle back compatibility as we rev this.
2. Is Provider a Mandatory or Optional? Would you have predefined providers (Azure, AWS, GCP, OnPrem) listed or will any 'string' be ok?
3. Would Target resource type be a URI or String? Is it String because we need the schema to scale to On-premise targets?
4. I am assuming we are supporting onl

[2021-01-21 10:17] kmkumaran commented on #111
Here are few more open questions that came up in review with @smalpani-gh

1. DockerFileUrl demands that Docker image be downloaded so that we can inspect the tag. This will be extra step during CD. Should this download be done just for traceability?
2. Clarify where the k8s Deployment object traceability belongs, is it in targetResource properties or within the artifact properties?
3. Why do we n

[2021-01-21 17:21] ammohant commented on #111
1.  Yes,  traceability would need this step to surface the Docker file against the deployment resource. The Docker file path is stored as a label in the docker image.
2.  K8s Deployment is the run time kubernetes object create in the cluster. It belongs to the Target resource.
3.  The AKS deployment centre spec demanded surfacing the manifest in the UI.  In general if there is an intent to see if

[2021-01-22 02:22] kmkumaran opened #112 "Potential issue in Annotations"
The k8s-deploy would annotate details required for traceability. This is a two step process

1. Deployment to resource
2. Annotate to resource - Which overwrites any existing annotations on the resource.

Since the steps are not transaction, parallel deployments to same resource can lead race conditions, with second annotation winning which need not be the same that is deployed.

[2021-01-22 02:23] kmkumaran commented on #112
@ajinkya599 , @ds-ms - This came up in a review. Is there a way we can make annotation as part of deployment itself?

[2021-01-22 05:50] #86 closed

[2021-01-22 05:52] azooinmyluggage commented on #111
What is the right naming : Is it Microsoft/GitHub https://github.com/opencontainers/image-spec/blob/master/annotations.md. http://label-schema.org/rc1/

[2021-01-22 06:12] azooinmyluggage commented on #111
Artifact: What other types will be there and why everything for K8s is of type container artifcat.

[2021-01-22 06:16] azooinmyluggage commented on #111
Design question : How can we work around the need to download image and running docker inspect

[2021-01-22 06:21] ds-ms commented on #112
Yes it can done.

[2021-01-22 06:24] ammohant commented on #112
@kmkumaran - yes, annotations can  be added/patched to the yaml itself.

[2021-01-22 06:39] ammohant commented on #111
Two ways that we have discussed earlier. One is store it somewhere just like ADO but we understood from GH is building some sort of a store that we can leverage.  Second is  to have an environment variable store the Docker file path , this is not a full proof way.

[2021-01-26 23:08] jbaojunior opened #113 "Option to ignore error from certificate auto signed"
I am trying to use the optional args to pass  `--insecure-skip-tls-verify` but this is not working. Has some way to do this?
[code]

[2021-01-31 04:26] kmkumaran commented on #112
@ammohant , when is this fix planned?

[2021-02-03 02:18] ammohant opened #114 "Traceability Schema"
Traceability Schema

Abstract
Traceability  involves ability to track the source for issue, code, commit, artifact, workflow, and the user from the package deployed on the resource, through documented records.  This document proposes the traceability schema which captures the traceability data for any deployment which can be used by any "CI/CD" providers and cloud providers to organize the traceab

[2021-02-03 04:41] kmkumaran commented on #114
Should we be explicit about the depth in hierarchy. Call out that that we will limit to immediate parent or to the immediate child and not capture hierarchy beyond that. Building the tree is outside the scope and goal of this schema.

paradigm of include relevant/important data which will help the consumer use the published
in a more effective and efficient manner

Should we rephrase to "... which

[2021-02-03 04:46] kmkumaran commented on #114
Instead of forking this conversation in multiple issues, can we use https://github.com/Azure/k8s-deploy/issues/111 for the current topic as well?

[2021-02-03 06:49] ammohant commented on #114
@kmkumaran . Ok I updated the comments. Will move to #111

[2021-02-13 12:00] gtrubach opened #115 "ARM and other arch's support"
Hello,

I see in code that kubectl arch is hard-coded to amd64. Is it possible to make it download kubectl depending on agent arch? As I understand `os.arch()` should return correct architecture and if it used, correct kubectl will be downloaded.

[2021-02-15 08:59] azooinmyluggage commented on #115
@ds-ms Any particular reason why we stopped at amd64?

[2021-02-15 08:59] azooinmyluggage commented on #115
Any other action which may have the same problem?

[2021-02-15 09:17] gtrubach commented on #115
I saw several, and all of them have hard-coded amd64 arch for kubectl download. For instance:
* https://github.com/Azure/setup-kubectl
* https://github.com/Azure/k8s-lint

[2021-02-15 09:26] ds-ms commented on #115
@azooinmyluggage @gtrubach I believe we hard-coded them to support `hosted runners` in the beginning. We can start supporting this, with the `Self hosted runners` made GA.

@gtrubach would you be willing to raise a PR for the same? 😃

[2021-02-15 11:13] kmkumaran commented on #114
@ammohant - Do we need this issue or can this be closed?

[2021-02-16 02:42] ammohant commented on #114
Yes, will close this one.

[2021-02-16 02:42] #114 closed

[2021-02-16 16:24] lfraile commented on #101
Any news on this topic? I'm running the same issue :(

[2021-02-16 17:38] gbaeke commented on #101
Hi,

I documented my experience in this blog post: https://blog.baeke.info/2021/01/11/kubernetes-canary-deployments-with-github-actions/. Following the steps in the post, I did not have the issue.

[2021-02-16 17:46] lfraile commented on #101
Great, thanks @gbaeke will take a look

[2021-02-16 19:32] lfraile commented on #101
So it worked @gbaeke , it seems, as far as I understand, you have to deploy the first time using this tasks from scratch, as if a previous deployment already exists get stuck

[2021-02-23 16:23] gtrubach commented on #115
@ds-ms Sorry for long silence, will try to create a PR this weekend.

[2021-03-02 10:46] geoff-marine opened #118 "deploying to micro k8s"
I'm trying to deploy to a single cluster micro k8s instance.  I can run the various actions needed in my pipeline and I don't get any errors but the deployment doesn't happen on my cluster.  When I run kubectl apply against my deployment manifest, it does deploy to the cluster.  My pipeline code:

on: [push]

jobs:
  hello_world_job:
    runs-on: ubuntu-latest
    name: build container and deploy

[2021-03-03 12:53] flurreN commented on #85
Even with `imagePullPolicy: Always` I still have to do `kubectl rollout restart deployment/my-app` for it to actually re-deploy with the new image.

I tried looking into the different strategies, but I couldn't get it to work the way I want.

@ds-ms could you point me in the right direction if I just want it to redeploy the pod with the new image.

[2021-03-05 09:56] shigupt202 commented on #113
@jbaojunior We are not supporting arguments currently for any of the actions in K8s-deploy.
@ds-ms Is there any reason why we didn't support arguments here, and in the task either (arguments are allowed only for delete action in KubernetesManifest task)?

[2021-03-09 08:31] geoff-marine commented on #118
Anything?

[2021-03-09 08:55] ds-ms commented on #118
@geoff-marine internally the action also runs `kubectl` commands only. Would you be comfortable sharing the debug logs of your run where it couldn't deploy?

[2021-03-09 09:13] geoff-marine commented on #118
yep - here are the logs of the deploy step.  It reports success but nothing gets deployed to my cluster (have double checked that my kubeconfig is the right one in my env secrets)

Run Azure/k8s-deploy@v1.3
  with:
    namespace: default
    images: ***/k8sdemo:223112d47ba533f4d8757f0e2849d6e8912c7d07
    manifests: deployment.yaml

    kubectl-version: v1.20.0
    strategy: none
    route-method:

[2021-03-09 09:16] geoff-marine commented on #118
I can zip up the rest of the logs if that would help too?

[2021-03-09 11:59] ds-ms commented on #118
The zip should be helpful 😄

[2021-03-09 12:08] geoff-marine commented on #118
[logs_47.zip](https://github.com/Azure/k8s-deploy/files/6108337/logs_47.zip)

Cool - here you go.  Hopefully I've just been doing something stupid...

[2021-03-10 13:14] japsu opened #120 "Support running in an in-cluster self-hosted worker without separately setting context"
Using a solution like [summerwind/actions-runner-controller](https://github.com/summerwind/actions-runner-controller), it is possible to run a self-hosted worker in a Kubernetes cluster. This self-hosted worker can then use the Kubernetes service account the worker is running under to authenticate to the K8s API to eg. do deployment.

`Azure/k8s-deploy` instead insists on a "context" set by `Azure

[2021-03-10 13:47] geoff-marine commented on #118
Figured it out - issue was on my side, firewall was not allowing github access to my cluster.  I only realized this once I manually ran kubectl inside an action and got an error saying kubectl couldn't reach the server.  Totally my mistake - feedback I would give though is that the azure/k8s-deploy action didn't give an error and perhaps its should.

[2021-03-10 13:47] #118 closed

[2021-03-15 06:59] ds-ms commented on #62
Closing this issue due to inactivity, feel free to reopen it if the problem persists.

[2021-03-15 06:59] #62 closed

[2021-03-15 07:01] ds-ms commented on #101
That is correct. We took this decision consciously to avoid breaking existing setups accidentally.

[2021-03-15 07:01] #101 closed

[2021-03-15 07:02] ds-ms commented on #105
Closing this issue due to inactivity, feel free to reopen if the problem persists.

[2021-03-15 07:09] ds-ms commented on #112
@kmkumaran the fix for this would require us to revamp our core logic for image substitution and annotations. I'd say we'll wait until it's a valid scenario may be?

FYI: This logic has been in Production in both ADO and Actions for about 2 years now, there weren't any customer reported issues on this front.

[2021-03-15 07:13] ds-ms commented on #113
In case of `deploy` we run multiple `kubectl` commands, like `apply`, `annotate`, `rollout`, `delete` mapping those args to a single command was tricky. So I suppose we removed `args` support altogether. We should get rid of the input though, I don't think it's being used anywhere.

[2021-03-15 07:16] #115 closed

[2021-03-15 08:58] #87 closed

[2021-03-15 09:20] shigupt202 commented on #113
That's right. The input is not being used anywhere in this action.

[2021-03-16 09:19] ajinkya599 commented on #105
I think this should be fixed.
cc: @koushdey

[2021-03-16 12:10] koushdey commented on #105
Will have a look at it and fix it.

[2021-03-19 03:17] ammohant commented on #111
@smalpani-gh - This the final schema for the traceability we are closing on. Pls let us know of comments if any.

@rachitb777 @rohit-batra   We can commit the final version of the schema once Sanjay gives the go ahead.

[2021-03-22 14:51] SamMousa opened #126 "Support different manifest delimiters"
I'm working in an environment where I went to set the manifests dynamically.
Specifically I have an environment variable that contains the list of manifests, but passing this into the action does not work:

[code]

There is no valid syntax that'll work here (afaik) because Github Actions will not properly put in multiline values here.
This could be easily solved if a different separator would be a

[2021-03-23 01:56] wemod123 opened #127 "Where should I put the manifest file?"
A stupid question:

Where I should put the manifest file, when run a github action with azure/k8s-deploy@v1?

Since I got below error, no matter I put the manifests folder in root of repo, or .github folder etc.
[code]

[2021-03-23 02:59] wemod123 commented on #127
I just foget to checkout the repo.

`- uses: actions/checkout@main`

[2021-03-23 02:59] #127 closed

[2021-04-10 14:11] uzi0espil commented on #126
+1, I am working on a similar thing, but instead of setting a environment variable, I would get the list from shell script and assign it to a variable. then use that variable in `k8s-deploy`:

[code]

The output of list-manifests joins the array of manifests by delimiter \n.

[code]

But it still doesn't work.

[2021-04-14 10:56] Ganeshrockz commented on #126
I have raised a [PR](https://github.com/Azure/k8s-deploy/pull/131) to support both commas and new line as delimiters

[2021-04-15 06:21] #126 closed

[2021-04-22 20:08] ggolub opened #132 "Image substitution only handles tag substitution"
This is more of an enhancement request than a bug (or perhaps a question if there is a workaround).

We are using terraform to create container registries with generated names.  Deployments with this action currently require that the the registry in the yaml is known.  That won't be the case in our scenario and we were expecting this action to be able to update the image name as well as the tag.

[2021-04-29 09:27] tgdfool2 commented on #126
Thanks for having implemented and merged the fix.

In the meantime, while the code is not yet released, what is the best way to use it?

[2021-04-29 09:29] SamMousa commented on #126
Can't you just use `@master` as a version or something?

[2021-04-29 09:38] tgdfool2 commented on #126
Unfortunately, main branch doesn't contain the lib/ directory:
* https://github.com/Azure/k8s-deploy

![image](https://user-images.githubusercontent.com/66017789/116531381-6627f480-a8df-11eb-834e-2036d9fda957.png)

[2021-04-29 09:39] Ganeshrockz commented on #126
Apologies for the delay. I forgot to port the fix to releases branch. Once I do that you can access the fix with the v1 tag. I am on it now

[2021-04-29 09:46] tgdfool2 commented on #126
Great, thanks a lot. Please let me know once done and I'll give a try.

[2021-04-29 10:27] Ganeshrockz commented on #126
@tgdfool2 Can you try using the v1 tag now?

[2021-04-29 11:02] tgdfool2 commented on #126
Thanks for the quick release @Ganeshrockz. Tested right now and it's working like a charm!

[2021-06-15 11:52] koushdey commented on #72
@pulkitaggarwl Can you have a look at it?

[2021-06-15 11:55] koushdey commented on #111
@rachitb777 Can I close this issue since we have deferred this work? We can open a new issue when we plan to pick this up.

[2021-06-15 12:01] koushdey commented on #120
@N-Usha Any chance you had a look into it?

[2021-06-22 14:22] #111 closed

[2021-06-24 06:37] koushdey commented on #113
Closing it against the PR #139

[2021-06-24 06:37] #113 closed

[2021-06-30 10:57] koushdey commented on #112
This logic has been present for quite some time and have not seen any issue reported around it. Closing it for now until we encounter any issues reported for this.

[2021-06-30 10:57] #112 closed

[2021-07-01 07:41] apgapg commented on #34
@shigupt202 Any sample docs on implementing this?
I don't see how can i implement above thing.

[2021-07-02 06:48] koushdey commented on #72
@joseotavioq You can add custom env variables as part of a workflow. If you wish to change the value for an env var before an action run then either you can have different values for your env var in separate steps or have a dedicated env var for the action.

I am trying to understand a use-case for this request to be added in the action.

[2021-07-02 16:12] joseotavioq commented on #72
@koushdey I want to add an env variable as a parameter for a container when it starts.
To do that, I need to specify in the Kubernetes YAML file the value of that variable. (As you can see in the example above "MY_CONTAINER_ENV").
But, in my case I want to use a GitHub Secret as a value of that env variable in the YAML file. For this reason, I need to replace the value I have in the YAML file for

[2021-07-09 07:13] ds-ms commented on #132
I suppose you could solve that by generating your deployment.yaml files within the workflow.
[code]
And then use that temp.yml to deploy.

I agree that this is limiting, but it will also enforce that the change in docker image in production environment will always go through a PR.

[2021-07-09 07:14] #132 closed

[2021-07-09 07:18] ds-ms commented on #72
@josetavioq Have you considered using helm for the same? You could use `helm` to replace tokens and in turn using `azure/k8s-bake` action convert your helm chart to raw manifests and pipe it to `k8s-deploy` action.

Here's some documentation: https://docs.microsoft.com/en-us/azure/devops/pipelines/ecosystems/kubernetes/bake?view=azure-devops

Although the documentation talks about usage in ADO env

[2021-07-09 07:24] ds-ms commented on #120
@koushdey inorder to support this, perhaps we could change the logic of throwing the error into a `warning` instead.

https://github.com/Azure/k8s-deploy/blob/acd12a47055b679be711e4937c41f1755316cfae/src/run.ts#L43-L47

[2021-07-09 23:08] joseotavioq commented on #72
@ds-ms Helm no, but I use another task to replace the env, as you can see below.

[code]
As I said, it would be nice if we have an option in this task, to avoid use another task to do a simple replace.

[2021-07-19 13:16] koushdey commented on #120
@japsu For running kubectl cmds we need to set context. How will you authenticate the kubectl cmds? `k8s-set-context` makes use of `service account` as well to set this context. Have you considered using this action?

[2021-07-19 13:48] japsu commented on #120
@koushdey My actions runner is running in a pod in a Kubernetes cluster. That pod is running on a service account that has the required access. If I were to run `kubectl` commands in that pod, they would use the Kubernetes credentials supplied to the pod by Kubernetes and succeed. `k8s-set-context` with the `service account` method asks for information that is not relevant or which I do not have i

[2021-07-19 16:25] ds-ms commented on #120
@koushdey so this way, when you convert this check into a `warning`, kubectl cli tool would float up the failures related to lack of k8s context.

[2021-08-02 20:38] xmclark opened #143 "blue-green does not work with latest ingress api version"
Repro steps:
- Create a blue-green deployment pipeline configured for ingress strategy.
- Add an ingress yaml that uses the latest api version 'networking.k8s.io/v1'

Current behavior:
- During deployment, a green ingress is not created
- During the promotion step, the ingress is not updated
- the green deployment is destroyed as expected but the traffic never changes to the new pods

Expected beh

[2021-08-17 11:30] koushdey commented on #120
Changes are merged. Closing issue

[2021-08-17 11:30] #120 closed

[2021-09-05 10:02] maxisam commented on #113
@koushdey Why this issue is closed? The PR doesn't fix the problem.

[2021-09-06 06:48] koushdey commented on #113
@maxisam The PR is removing the support for the broken functionality of optional input param which gave rise to this issue. The input param was present but was not consumed during runs.

[2021-09-06 06:51] koushdey commented on #143
@xmclark You closed the PR #142. Are you planning to close the issue?

[2021-09-07 05:26] maxisam commented on #113
@koushdey so what about the problem of **having an option to ignore error from certificate auto signed**?

I thought the whole issue is about that. Am I the only one feel this way? lol

Yes, there was a bug but IMO that was not the point of the issue.

[2021-09-07 23:56] mabroor007 opened #148 "What should be the image name in the deployment"
What should be the specified image name in manifest/deployment.yml file as it is going to get replaced by the latest computed name. What should i put in place of the image
[code]
what should i put in place of starts so that they get replaced by the new image link.
right now it says image name is invalid.

[2021-09-09 15:55] cdeneen opened #149 "Add the ability to turn off annotations for one or more resource types"
We have some shared namespaces and the user provided the action doesn't have permissions to modify the namespace. This causes each job run to have the warning

`"Error from server (Forbidden): namespaces <namespace> is forbidden: User <user> cannot patch resource "namespaces" in API group "" "`

It would great if I could provide a list of Kubernetes resource types (ex "namespaces") to skip being a

[2021-09-09 17:47] jaredready commented on #149
Getting some guidance on _why_ this Action needs to annotate namespaces would be helpful. Our IaC will overwrite these annotations and we're unsure whether it's safe to do so or not.

[2021-09-10 15:05] tillig opened #150 "Canary SMI strategy generates invalid TrafficSplit resource"
When the task is used to do a canary deployment, it makes use of SMI (service mesh interface) for doing the `TrafficSplit` to manage which traffic goes to the stable vs. canary version of the service. As part of that, it [automatically goes to get the SMI custom resource version](https://github.com/Azure/k8s-deploy/blob/33608d18f7cac6ef9e3a4b2831622ab560909e88/src/utilities/kubectl-util.ts#L83) cu

[2021-09-10 16:26] tillig opened #151 "Add support for TrafficSplit annotations"
When SMI traffic handling is selected, the `TrafficSplit` that gets generated (both for [blue/green](https://github.com/Azure/k8s-deploy/blob/33608d18f7cac6ef9e3a4b2831622ab560909e88/src/utilities/strategy-helpers/smi-blue-green-helper.ts#L102) and [canary](https://github.com/Azure/k8s-deploy/blob/33608d18f7cac6ef9e3a4b2831622ab560909e88/src/utilities/strategy-helpers/smi-canary-deployment-helper.

[2021-09-22 08:46] #148 closed

[2021-09-24 18:25] tillig commented on #151
14 days idle seems a little short for feature suggestions. It'd still be good to have this. I haven't moved to GitHub Actions yet but we're targeting that move in my organization for Q1 2022. In the meantime I've forked the baked-in AzDO task and have to own that for the next several months. I can get a PR in for this but it'd be nice to hear from the team if it's interesting before I invest the t

[2021-09-24 18:26] tillig commented on #150
14 days idle seems a little short for bug reports. I can get a PR in for this but it'd be nice to hear from the team if it's interesting before I invest the time. Based on my own understanding of SMI, removing the `m` shouldn't break anything, but I don't have other service meshes in which to verify that.

[2021-09-25 03:31] xmclark commented on #143
Hi @koushdey I am not. Someone else can take the work if they like.

[2021-10-09 00:44] tillig commented on #151
It would be nice to hear if this is interesting to the team before doing to work to create a pull request.

[2021-10-09 00:45] tillig commented on #150
Still definitely a problem. Would love to hear if this is interesting to fix before I create a pull request.

[2021-10-13 19:57] yenser opened #153 "Kubectl wrong architecture being downloading"
The amd64 version of kubectl gets installed instead of the arm64 version when running on a self-hosted runner.

![image](https://user-images.githubusercontent.com/22648844/137203000-e40afb05-0651-47bd-914c-efecfbb496f6.png)

Repro steps:
- Self-hosted action controller running on Raspberry Pi 4 Model B
- Ubuntu 21.04
- Running `uname -m` in the same action will return with the value `aarch64` to v

[2021-10-16 13:11] MNF opened #154 "How to specify the previous workload to promote/reject."
In the section “[To promote/reject the green workload created by the above snippet, the following YAML snippet could be used:](https://github.com/Azure/k8s-deploy#to-promotereject-the-green-workload-created-by-the-above-snippet-the-following-yaml-snippet-could-be-used)” It  is not clear how I can specify the previous workload to promote/reject. Could  you please answer and elaborate in the Readme.

[2021-10-26 09:33] jjindrich opened #155 "Canary deployment not working with OSM"
I need to configure canary deployment with OSM (SMI compatible) https://github.com/openservicemesh/osm
When I configure this task:
`    - uses: Azure/k8s-deploy@v1.4
      with:
        manifests: ${{ steps.bake.outputs.manifestsBundle }}
        namespace: 'jjweb'
        strategy: canary
        traffic-split-method: smi
        action: deploy #deploy is the default; we will later use this to pr

[2021-10-27 15:17] SamMousa opened #156 "Remove tag v1.4"
There is a tag v1.4 in the repo that doesn't have a release. Also it was created before the 1.3 tag..

I think the tag should be removed, or, if you don't want to break clients, release a new version v1.5 so that people will get the correct version when they just look for the "biggest tag"

[2021-10-30 21:45] michael-freidgeim-webjet commented on #154
What “idle”label means? Should I do something to attract attention to the question?

[2021-11-01 12:30] jjindrich commented on #155
@shigupt202 pls can you help me how to fix this issue ?

[2021-11-10 19:24] SamMousa commented on #156
It should not be idle... Bump

[2021-11-25 11:42] SamMousa commented on #156
Bump

[2021-11-29 17:56] qpetraroia commented on #155
Adding @OliverMKing

[2021-11-29 20:26] #150 closed

[2021-11-29 20:26] #155 closed

[2021-12-01 16:18] OliverMKing commented on #150
Created a new release v1.5 fixing this.

[2021-12-01 16:18] OliverMKing commented on #155
Created a new release v1.5 fixing this.

[2021-12-09 10:53] ralfstuckert opened #161 "Cannot find module '@actions/core'"
After upgrading from version v1.4 to v1.5 the following error occurs. The workflow itself was unchanged, rollback to v1.4 fixes the problem.

[code]

[2021-12-09 15:35] SamMousa commented on #156
Bump... is someone even looking at issues in this repo?

[2021-12-09 15:36] SamMousa commented on #156
@davidgamero sorry for being rude and just pinging you (because you've been committing to this repo recently).
Could you please get someone to look at this issue?
I'm always happy to implement PRs where I can, but in this case this is something a repository admin has to do.

[2021-12-09 20:36] davidgamero commented on #156
Thank you for bringing this up. I'll take a look

[2021-12-10 11:51] ralfstuckert commented on #161
Hi, thanks for your immediate help. Yes, I can confirm that it works with 1.5. I tried with **v**1.5 at first which was not found. So my final question: is 1.5 correct or will you change that to v1.5?

[2021-12-10 17:18] davidgamero commented on #161
I'm glad it works, and yes I'll change it.
v1.5 should be live now. Thanks for your help 😄

https://github.com/Azure/k8s-deploy/releases/tag/v1.5

[2021-12-10 17:22] davidgamero commented on #156
Looks like there was a prerelease for v1.4, but v1.5 should be live now

[2021-12-13 06:23] ralfstuckert commented on #161
yup, confirm v1.5 is working. Thanks for your support :-)

[2021-12-13 06:23] #161 closed

[2021-12-20 20:25] jherrera123 opened #163 "Cannot apply resources with defined namespaces in manifest"
### Repro steps:

- Obtain a manifest with defined namespaces (e.g. cert-manager, ingress-nginx)
  - https://github.com/jetstack/cert-manager/releases/download/v1.6.1/cert-manager.yaml
  - https://raw.githubusercontent.com/kubernetes/ingress-nginx/controller-v1.1.0/deploy/static/provider/cloud/deploy.yaml
- Add k8s-deploy step that deploys to kubernetes and commit, do not specify a namespece

###

[2021-12-23 10:51] rabbagliettiandrea opened #164 "Warning: Failed to get dockerfile path for image someorg/someimage:somehash | Error: docker images pull failed with: undefined"
### Repro steps:
- use a docker image that is built with Dockerfile not in the current working dir in the buildphase:
![image](https://user-images.githubusercontent.com/579861/147229485-2257258f-79ba-4e82-8731-1b94fb930671.png)

- deploy it normally with azure/k8s-deploy@v1.5 - 1.3 (**v1 is not affected**)
![image](https://user-images.githubusercontent.com/579861/147229630-228672bf-d7a1-4eda-9071-

[2021-12-24 18:06] #156 closed

[2022-01-17 11:05] Lippur commented on #113
I agree that this should be reopened. Right now, it is not possible to deploy to clusters which use a self-signed certificate. The issue here was not that it _seemed_ possible to pass arguments, it's that it _isn't_ possible to pass arguments.

[2022-02-14 22:39] larryclaman opened #173 "How to specify a working directory for manifests?"
Assume I have a bunch of manifest files in a directory, eg `mymanifests`.  Is there any way to specify a working directory path so that I don't need to prepend the mymanifests path onto each file in the **manifests** input block?

[2022-03-01 14:09] OliverMKing commented on #153
The latest version of this action no longer downloads Kubectl itself. Use [Azure/setup-kubectl](https://github.com/Azure/setup-kubectl) to install the appropriate version.

[2022-03-01 14:09] #153 closed

[2022-03-03 20:03] OliverMKing commented on #163
Hello! We will look into this. Thanks!

[2022-03-03 20:05] OliverMKing commented on #151
Hi @tillig. We'd love this feature. Please feel free to create a PR.

[2022-03-03 20:07] OliverMKing commented on #143
Hello! We will look into this.

[2022-03-03 20:10] OliverMKing commented on #72
Hello! You should use [k8s-bake](https://github.com/Azure/k8s-bake) to do this. GitHub actions should be as limited in scope as possible and this is out of scope for this action.

[2022-03-03 20:10] #72 closed

[2022-03-09 18:18] tillig commented on #151
Awesome. We're still in the process of getting our GitHub Enterprise system underway. That'll be my test bed for verifying my changes before submitting the PR since I don't really have any other system with everything wired up. However, I do plan on getting a PR in here so I'll keep this open while I work on it. Thanks!

[2022-03-12 11:11] PadraigGalvin commented on #164
I'm getting a similar warning with k8s-deploy@v3.0. The cluster is running k8s v1.22.2-2.

[code]
The logs provide some additional info:

[code]

My guess is that the action tries to pull the image locally to get information for updating annotations in the cluster. It seems that the GitHub Container Registry cannot be accessed in this way with the automatically provided token. A personal access to

[2022-03-16 04:01] sam-h-bean commented on #85
I don't think it's gonna work

[2022-03-26 02:13] artlogic opened #174 "Strategy "none" emits warning"
Choosing none as a strategy (which according to the docs is valid) leads to the following warning being emitted: `Deployment strategy is not recognized.` - despite things working as you would expect.

I think two minor changes would make this clearer:
1. Don't emit a warning when a strategy of `none` is selected.
2. Clarify the warning so that it's obvious that no deployment strategy is being used

[2022-04-04 03:52] SaiNageswarS commented on #3
Hi,

I'm facing the same problem. Could you please share the additional documentation.

Thanks

[2022-04-04 03:55] SaiNageswarS opened #176 "Artifact Substitution is not working"
I'm pushing docker image with a certain tag in action workflow. While deploying I would like the action workflow to substitute the tag in deployment.yml.

Although readme says that action supports artifact substitution, it doesn't explain how. Kindly share the documentation for the same.

Thanks

[2022-04-05 12:38] roehrijn commented on #149
@jaredready, I think the annotations are only for convenience to add some metadata about the GitHub workflow executing the deployment.

I recently tried to migrate from v1.5 to v3.0 and in the latter version this error about annotating the namespace is treated as a real error which causes the task to fail, whereas in v1.5 it was treated as a warning. This currently blocks me from using newer versi

[2022-04-05 12:44] roehrijn commented on #164
Dealing with same issue here and I would highly appreciate to have a flag which controls the behaviour of pulling images. In most cases, this consumes a lot of resources in terms of time, traffic, storage, etc. ... only for having the Dockerfile's path in the annotation of the K8s resources.

Furthermore I'm executing the action on a self-hosted runner based on RHEL, which has `podman` instead of

[2022-04-06 12:45] OliverMKing commented on #176
This is documented under the images part of the [inputs section](https://github.com/Azure/k8s-deploy#action-inputs). I'll look into improving the documentation as well.

[2022-04-11 14:22] #149 closed

[2022-04-12 18:49] OliverMKing commented on #173
@jaiveerk added this feature for v3.1. You can now point to a directory for the manifest input.

[2022-04-12 18:49] #173 closed

[2022-04-12 18:53] OliverMKing commented on #164
Thanks to @roehrijn for adding the ability to toggle this feature. This was released with version 3.1.

[2022-04-12 18:53] #164 closed

[2022-04-25 04:55] #176 closed

[2022-05-02 11:10] nicmr commented on #164
Linking the PR that added the mentioned feature:
* #178

Thank you for your work on this!

[2022-05-06 13:02] jannaspam opened #186 "Update examples in README to reflect the latest state"
Looks like `kubectl-version` input was removed in #165 but [the Basic Deployment example]( https://github.com/Azure/k8s-deploy#basic-deployment-without-any-deployment-strategy) still has it. Would be good to clean it up.

[2022-05-11 19:29] stigok opened #187 "kubectl-version input arg is not documented"
I saw the `kubectl-version` argument being used in [one of the examples](https://github.com/Azure/k8s-deploy#basic-deployment-without-any-deployment-strategy) here in the readme, however, it's not documented in the list of input arguments.

[2022-05-16 15:01] 5nafu commented on #105
Same issue appears when there are `/` in the name...
[code]
Is there a possibility to not label the resources?

[2022-05-16 18:03] OliverMKing commented on #187
Good catch! This isn't a feature of this action anymore. That should be deleted.

[2022-05-16 18:03] OliverMKing commented on #186
Good catch! Thanks!

[2022-05-24 13:42] stigok opened #189 "Use prefix for added annotations"
It would be very helpful if the annotations applied with this action were prefixed, [as described in the Kubernetes annotations concept doc](https://kubernetes.io/docs/concepts/overview/working-with-objects/annotations/#syntax-and-character-set).

This would
- improve readability
- probably eliminate the chance of overwriting something already present
- know the origin of the annotations
- follow

[2022-06-02 03:12] nic-chen commented on #50
sorry, I can't remember that now.

[2022-06-03 13:48] januszj opened #190 "Annotating resources Error: HttpError: Bad credentials"
In GitHub Enterprise Server 3.4.3 using self hosted runners.

My deployment works, pods are created and running filne, but the action fails with:

[code]

My action looks like this:
[code]

[2022-06-06 19:22] OliverMKing commented on #186
It's been removed from the docs.

[2022-06-06 19:22] #186 closed

[2022-06-06 21:02] OliverMKing commented on #190
Seems to imply you weren't authenticated. Do you have more logs or more information on the workflow and how you are authenticated?

[2022-06-06 22:08] januszj commented on #190
I was authenticated enough to have deployment running on the cluster after action run.
I think there was something happening in annotateAndLabelResources that caused that error.

[2022-06-07 12:51] davidgamero commented on #190
can you share the timestamps for when this workflow started and when the error occurred? Also did this completely stop execution or were there any other steps that ran after?

[2022-06-08 18:10] #189 closed

[2022-06-13 16:57] OliverMKing commented on #154
You just need the manifests passed to both actions to be the same. event.run_id is generated and it's a way to specify a specific tag with artifact substitution.

If artifact substitution is used, the tag needs to be the same when promoting / rejecting.

[2022-06-13 16:57] #154 closed

[2022-06-13 17:49] OliverMKing commented on #190
Are you locking down your workflow permissions to prevent the GitHub token from being passed?

https://github.com/Azure/k8s-deploy/blob/507f2d4fc713cdc92f96880e350464687ce2e960/src/strategyHelpers/deploymentHelper.ts#L136

[2022-06-14 16:47] davidgamero commented on #163
i was able to repro, and just made a PR

[2022-06-15 14:20] davidgamero commented on #163
merged the fix. please reopen if issue persists

[2022-06-15 20:22] januszj commented on #190
This could be the reason, this is Enterprise Server and self hosted runners.
Or maybe missing permission ? What permission is required for this to work ?

[2022-06-22 11:02] nv35 opened #201 "Fix annotations links using github.com even for GHES"
There are few locations were github.com is hardcoded, making it incompatible with github enterprise servers that are hosted on other domains.
From what I understood from these code lines, they are only cosmetic (sent as annotations in deployments).

https://github.com/Azure/k8s-deploy/blob/507f2d4fc713cdc92f96880e350464687ce2e960/src/utilities/workflowAnnotationUtils.ts#L24
https://github.com/Azur

[2022-06-22 16:14] #190 closed

[2022-06-27 13:49] OliverMKing commented on #174
@davidgamero is working on this now by renaming and making strategy required. "None" and "no strategy" isn't an accurate description of what's happening when a strategy isn't chosen. It basically fully deploys resources.

[2022-06-27 18:01] OliverMKing commented on #201
Closed with #200 and action has been released. v4 (v4.1+) has this fix. Thanks!

[2022-06-27 18:01] #201 closed

[2022-06-29 10:29] nv35 commented on #201
@OliverMKing the pull request #200 that i've opened is about api calls sent to github.com. This issue is about cosmetic links shown to the user. I don't see any correction yet in the repo.

[2022-07-02 20:22] jeliasson opened #209 "Handling of unwanted characters in workflow name"
I have an emoji (⚒️) in a workflow name and this causes errors when `Azure/k8s-deploy@v4.1` is done rolling out an deployment. Could we expose a option to optionally override the `workflowFriendlyName` name, or an option to allow filtering out unwanted characters?

**Error**
![image](https://user-images.githubusercontent.com/865493/177014979-e0b0880d-0982-42f0-a8cf-b2befdd3d43c.png)

**Workflow na

[2022-07-04 12:05] richardsimko commented on #209
We have the same issue with a simple ampersand (`&`). Seems like this would be a quite common problem.

[2022-07-04 13:44] richardsimko opened #210 "Unnecessary `docker pull` being triggered"
I have a workflow that's deploying some manifests which don't contain any images and yet the workflow is still triggering a `docker pull` which fails with the following error:

[code]

[2022-07-06 14:19] OliverMKing commented on #151
@Vidya2606 is actively working on this.

[2022-07-06 14:59] OliverMKing commented on #209
The ampersand should just be escaped with [quotes](https://kubernetes.io/docs/concepts/configuration/secret/#use-case-pods-with-prod-test-credentials). Emoji handling is more complicated.

[2022-07-06 15:13] OliverMKing commented on #209
We can use the regex pattern in the error to extract only valid characters and wrap the label in quotes.

[2022-07-06 15:53] jeliasson commented on #209
That would be the preferred way, or simply allow a custom name by setting another environment variable (or input), e.g.

[code]
vs.
[code]

[2022-07-06 16:39] OliverMKing commented on #209
I'd prefer not to allow for a custom name. It would require another documented input and we already have a ton. Makes this action harder to understand.

[2022-07-06 20:15] #209 closed

[2022-07-06 20:34] OliverMKing commented on #209
Created a release with the fix for v4. Thanks!

[2022-07-06 21:02] jeliasson commented on #209
Latest v4 build works fine. Thanks!

[2022-07-07 09:09] richardsimko commented on #210
Thanks!

[2022-07-12 17:18] davidgamero commented on #174
this should be rolled out in the newest v4 release. feel free to re-open if the issue persists

[2022-07-12 17:18] #174 closed

[2022-07-14 14:15] OliverMKing commented on #151
@tillig do you have any links to documentation talking about using the annotation for Istio SMI adapter? I can see it in the code but I'm struggling to find docs.

[2022-07-21 13:40] richardsimko commented on #210
Not idle, still waiting for a fix but the workaround works for now

[2022-07-27 17:41] OliverMKing commented on #210
@richardsimko can you post the inputs you are supplying to k8s-deploy? And which version of deploy this is

[2022-07-28 07:41] richardsimko commented on #210
Sure, here it is:

[code]

The alerts themselves contain only `PrometheusRule` definitions and no services.

[2022-07-29 20:16] OliverMKing commented on #143
Need to make a release for this. The code is done :)

[2022-08-03 08:47] mme-htkw opened #226 "Error: HttpError: Resource not accessible by integration"
As our service principle token expired, we decided to use the OIDC authentication to deploy our application on azure.

So we changed the azure/login from:
[code]
to
[code]

The login works correct, as the other azure steps succeeded (docker push, create-secret, set-azure context)
But the k8s-deploy fails on the 'Annotating resources' step with the error: HttpError: Resource not accessible by integ

[2022-08-03 15:08] OliverMKing commented on #226
My guess is that this is actually an error with the permissions you are giving the workflow. Did the permissions you are granting the workflow change?

https://github.com/Azure/k8s-deploy/blob/531cfdcc3d41140ba29923fbcca51df1183e8610/src/strategyHelpers/deploymentHelper.ts#L143

https://github.com/Azure/k8s-deploy/blob/531cfdcc3d41140ba29923fbcca51df1183e8610/src/utilities/githubUtils.ts#L4

[2022-08-03 21:01] OliverMKing commented on #226
That looks right to me. It's not working with those permissions?

[2022-08-04 05:31] mme-htkw commented on #226
No, its not working with this permissions.

Actually the substeps `Deploying manifests`, `Checking manifest stability` and `Printing ingresses` are successfull. It fails on the `Annotating resources` step. Does this step require some special permissions?

[2022-08-04 13:53] nv35 commented on #226
We're also hitting this issue.

It works when granting full permissions to the token (not the most secure way):

    permissions: write-all

It doesn't work with following:

    permissions:
      id-token: write
      contents: read

[2022-08-04 20:38] OliverMKing commented on #226
Some permission permission seems to just be missing from

[code]

I don't know what other one we'd need. There hasn't been any recent changes that should impact this.

You can test with different permissions (in addition to the above ones) to methodically determine which one is missing.

[2022-08-04 20:39] #143 closed

[2022-08-04 20:41] OliverMKing opened #227 "Error handling in substituteImageNameInSpecFile"
### Discussed in https://github.com/Azure/k8s-deploy/discussions/185

<div type='discussions-op-text'>

<sup>Originally posted by **anarian** May  3, 2022</sup>
I was adding a new set of Kustomize overlays and had my CronJob's container name mismatched between the base and overlay. When running v1.3, it gave me a specific error:

[code]

But running v1.5, the error was much more obscure
[code]

I

[2022-08-05 08:11] mme-htkw commented on #226
I have tested with different permissions and i found, that it requires read access to the actions.

[code]

So with this permissions it works.

[2022-08-15 09:15] alexbartsch commented on #105
Hej @5nafu,
I also ran into problems with slashes in workflow names, so I made this PR https://github.com/Azure/k8s-deploy/pull/231 to fix this problem.

[2022-08-15 17:06] OliverMKing commented on #226
Will document this in the README.

[2022-08-15 23:57] OliverMKing commented on #105
Reopening temporarily. Will get this merged in.

[2022-08-16 18:28] #105 closed

[2022-08-17 20:25] OliverMKing commented on #151
This feature was added to the latest version :). You can use the `traffic-split-annotations` input. Thanks!

[2022-08-17 20:25] #151 closed

[2022-08-18 21:45] leandromsft opened #234 "error: deployment exceeded its progress deadline"
Hi folks,

I'm trying to deploy dotnet container application (backend and frontend) to AKS using blue/green strategy.

In the first run, everything works fine. (deploy and promote action)

In the second run the **deploy** action works fine but the **promote** action result in error.

[code]

My workflows is configured as fellow:

[code]

[2022-08-22 14:23] jaiveerk commented on #234
Hey @leandromsft, would you mind doing the following and attaching the results to this thread:
- run `kubectl get pods` after the second run to identify which pod in your deployment is failing
- run `kubectl describe pods {PODNAME}` on the failing/crashed/erroring pod
- run `kubectl logs {PODNAME}`on the failing pod
- get the logs of the second run of your action from Github

Thanks!

[2022-08-22 14:56] lsprado commented on #234
Hey @jaiveerk, thank you for help!

I found the problem this weekend
The problem was that my node had no CPU available to create the new deployments.
I increased the node machines, and the deployments worked.

This issue can be closed.

Thank you!

[2022-08-22 15:03] jaiveerk commented on #234
thanks for letting us know!

[2022-08-22 15:03] #234 closed

[2022-08-31 13:21] kireerik commented on #210
related issue: #164

[2022-08-31 15:04] richardsimko commented on #210
Using `pull-images: false` solves the issue

[2022-08-31 15:04] #210 closed

[2022-09-19 21:14] ealasgarov opened #239 "Bug: Non-interactive authentication is required"
### What happened?

When using k8s-deploy@v4, it is asking for non-interactive authentication:

asking me: "To sign in, use a web browser to open the page https://microsoft.com/devicelogin" and to authenticate with code, because of that the pipeline fails. Please see details in log attached below.

Did anyone already encounter that before, if yes, what is a workaround?

This issue is also describe

[2022-09-22 01:02] parroty opened #240 "Bug: Promote operation for canary strategy doesn't work with v4.2 or later"
### What happened?

Hi 👋 . I was testing the deployment scenario with `Canary` strategy, but the `promote` operation seems not working.
It just removes the `-canary` pods and it does not promote the original pods, which is similar behavior as `reject`.

### Observed Behaviors
- In my environment,
  - With `@v1.4` and `@v1.5`, deploy successfully promotes canary.
  - With `@v2.0` through `@v4.1`, d

[2022-09-22 17:21] vitaly-pavluk opened #242 "Feature Request: Switch to disable all annotations / labeling"
### Feature request

As a DevOps engineer working on the CI/CD GH workflow, I want to disable all annotations and labeling that
`K8s-Deploy` GH action does, so they will not pollute K8s namespaces, deployments, pods, etc.
Now `K8s-Deploy` allows only disabling the namespace annotation but there is no way to disable pod labeling that does not work correctly.

Reason for turning off auto-annotations

[2022-09-28 18:12] OliverMKing commented on #239
Would you post the rest of your workflow? I'm curious about how you are setting your kubeconfig in particular.

k8s-deploy simply auths with the kubeconfig so it's likely an earlier step that's being done incorrectly.

[2022-09-28 18:25] OliverMKing commented on #240
Thanks for the comprehensive issue template! Looking into it 😄

[2022-09-30 12:45] ealasgarov commented on #239
@OliverMKing
I'm not sure about that, because it is working the same way on another cluster, something with the cluster perhaps might be set differently, but I can't figure out what it is.
The pipeline for build and deploy:
[code]
![image](https://user-images.githubusercontent.com/86415933/193272610-d69375b2-7f06-4aea-a74c-cd393dde5a84.png)

[2022-10-03 13:58] colindembovsky commented on #240
I have noticed the same issue using `@v4`. The canary deploys fine (`pod` was the only type that worked) but the `promote` action seems to just remove the `-canary` and `-baseline` and leave the original version of the deployment in place (effectively this is a `reject`).

[2022-10-03 14:52] OliverMKing commented on #239
My guess is you aren't a cluster admin and need to use this approach in aks-set-context.

https://github.com/Azure/aks-set-context#kubelogin

Add the install kubelogin step then turn on the
[code]
options for set context

[2022-10-03 17:40] OliverMKing commented on #242
@vitaly-pavluk what version of this action are you running? v4.4 should remove the &.

[2022-10-03 17:50] OliverMKing commented on #227
To ensure you have a valid manifest run the k8s-list action first.

https://github.com/Azure/k8s-lint

[2022-10-03 17:50] #227 closed

[2022-10-04 09:59] vitaly-pavluk commented on #242
@OliverMKing
I've used version `azure/k8s-deploy@v3.1` per the first example I've seen on the GH
[Basic deployment (without any deployment strategy)](https://github.com/Azure/k8s-deploy#basic-deployment-without-any-deployment-strategy)
If  version 3.1 is not supported or has flaws so the examples should be updated accordingly to avoid confusion

[2022-10-04 10:50] ealasgarov commented on #239
@OliverMKing thank you very much, you've helped me to resolve this issue.

[2022-10-05 13:21] #239 closed

[2022-10-08 04:04] juzerali opened #243 "Feature Request: CroJobs"
### Feature request

Requesting support for CronJobs. Currently image substitution in CronJobs does not work.

[code]

Expected: CronJob is updated with the new image as per `${{ github.sha }}`
Actual: Image name that is hardcoded, gets updated

[2022-10-11 13:30] y-luis-rojo opened #244 "Bug: private cluster action success on error"
### What happened?

The execution of Azure/k8s-deploy@v4 action shows an error, nothing is deployed and still the result of the job is a success:
![image](https://user-images.githubusercontent.com/8008773/195102649-ddf0b941-050d-4e96-a53d-f465b8544f89.png)

I would expect any execution error result in a job failure.

### Version

- [X] I am using the latest version

### Runner

self-hosted Ubuntu

[2022-10-11 22:21] y-luis-rojo opened #245 "Bug: kubectl annotate files loses annotations with private cluster"
### What happened?

Using k8s-deploy with a private cluster, fails to annotate (and label) deployment resource after successfully annotated namespace (see logs below, removed key-value pairs for simplicity).

Workflow step:
[code]

Not sure if related but noticed any JSON output (`docker inspect`, `kubectl get namespace/next-test -o json`) shows malformed (`***` instead of `{`), for example (fragm

[2022-10-12 19:31] OliverMKing commented on #243
I'm going to look into this!

[2022-10-12 19:33] OliverMKing commented on #240
Small update: @jaiveerk found the issue and is working on a fix.

[2022-10-12 19:44] OliverMKing commented on #244
Hello @y-luis-rojo! Thanks for the issue. Could you post what your workflow looks like please?

[2022-10-13 08:30] y-luis-rojo commented on #244
Sure:
[code]

[2022-10-14 16:26] OliverMKing commented on #244
I'm pretty positive this is a private-cluster only bug. I'm investigating the issue now. Thanks!

[2022-10-17 13:40] OliverMKing commented on #243
You can temporarily use https://github.com/Azure/k8s-artifact-substitute this action to swap images prior to running deploy. It should correctly handle this case. Simply take the output of this action and use that as your manifests input in deploy.

[2022-10-17 15:31] harrytang opened #250 "Feature Request: ignoreSSLErrors"
### Feature request

Hi,

Is it possible to disable/enable `--insecure-skip-tls-verify` params that passed to kubectl command?

[2022-10-17 16:09] OliverMKing commented on #240
This has been fixed. v4 an v4.5 should now work and behave as expected. Thanks for the issue!

[2022-10-17 16:09] #240 closed

[2022-10-18 06:29] parroty commented on #240
Thank you for the fix!

[2022-10-18 18:13] OliverMKing commented on #245
Investigating this :). Thanks!

[2022-10-21 14:18] vitaly-pavluk commented on #242
Is it enough for the team to fix the issue?

[2022-10-21 18:38] OliverMKing commented on #242
@vitaly-pavluk Have you tried v4 or v4.4? Those contain the fix.

The docs need to be updated to show v4 as the example.

[2022-10-24 09:36] vitaly-pavluk commented on #242
@OliverMKing  No, I didn't try 4th version but changed the name of the workflow so it does not have unsupported chars. I explicitly mentioned v3 of the GH action as those that has an issue. If 3rd version is not supported anymore, please just close this issue and update docs to use only v4.4.
Thank you.

[2022-10-31 17:55] OliverMKing commented on #245
Hello! The newest 4.6 (and 4) releases should fix this. Thanks!

[2022-10-31 17:55] #245 closed

[2022-10-31 17:55] OliverMKing commented on #244
Hello! The newest 4.6 (and 4) releases should fix this. Thanks!

[2022-10-31 17:55] #244 closed

[2022-11-09 13:48] a-z-i-z opened #256 "Bug: deployment.apps not found even though the deployment exists"
### What happened?

The action uses a deployment file and it successfully deploys the application. But when it goes to check the status of deployment (Checking manifest stability), it throws "Error from server (NotFound): deployments.apps "test-deployment" not found.

I had used this action before and was working well. Not sure how but suddenly I started receiving this error.
Below is the configur

[2022-11-16 06:51] a-z-i-z commented on #256
@jaiveerk I've run the GitHub workflow again with enabling the debug logs. Please find the logs screenshot below.
![image](https://user-images.githubusercontent.com/58370459/202106141-1c037d4e-6722-4c66-a8da-11416ce49ebf.png)

[2022-11-16 20:03] jaiveerk commented on #256
Hi @jmasengesho & @a-z-i-z ,

I am trying to reproduce the issue but am not seeing any failure on my end, but yes I suspect it has to do with the private cluster.

We recently fixed a bug where private cluster commands were silently failing since we were simply printing the exit code rather than exiting with it (#252), so it is possible that this command had been failing all along and it is only n

[2022-11-16 20:23] jmasengesho commented on #256
@jaiveerk Let me see how to share my manifests. FYI, I am not deploying in the default namespace. My manifest includes : 1 deployment, a configmap, and 2 services. Everything deploys and works as expected. Just the rollout process at the end.

[2022-11-16 20:48] jaiveerk commented on #256
Thanks!

We've identified the source of the issue and are working on a fix now. Thank you both for bringing this to our attention!

[2022-11-21 15:30] #256 closed

[2022-11-28 10:28] hansmbakker commented on #163
I believe I'm encountering this issue with k8s-deploy@v4 but I cannot reopen this issue.

I'm trying to deploy cert-manager 1.10.1. cert-manager is normally [installed using `kubectl apply -f`](https://cert-manager.io/docs/installation/#default-static-install).
I put the manifest from https://github.com/cert-manager/cert-manager/releases/download/v1.10.1/cert-manager.yaml in my repo and ran the fo

[2022-11-28 14:21] OliverMKing commented on #163
From the logs it looks like you are using the namespace: default option. Try it with

[2022-11-28 14:28] hansmbakker commented on #163
I guess that is no solution because the manifest does not only reference the `cert-manager` namespace but also the `kube-system` namespace, and with your suggestion it is only possible to use 1 namespace?

[2022-11-28 16:31] OliverMKing commented on #250
The `skip-tls-verify` flag was added and released in v4.7. Thanks!

[2022-11-28 16:31] #250 closed

[2022-11-28 16:59] jaiveerk commented on #163
As a workaround for now, I'd suggest using multiple k8s-deploy commands in your YAML like so:
[code]

We recently [patched an issue](https://github.com/Azure/k8s-deploy/commit/a6cfc31f7ab2a8133823640690e0ae40216cd202) where kubectl errors were failing silently, causing the action to pass even if a kubectl command necessary to execute the action had failed.  As a result, [users were seeing rollout

[2022-11-28 18:58] hansmbakker commented on #163
That suggested workaround means I have to take apart the manifest that is provided by cert-manager.

I prefer to stick with a manual `kubectl apply` one this case as a workaround.

Not sure why `k8s-deploy` would need to force the `default namespace` if none or even `namespace: ""` is supplied? It is not possible to make it empty from GitHub actions..

[2022-11-28 19:02] hansmbakker commented on #163
Thank you both and thank you @jaiveerk for the explanation!

[2022-11-29 10:46] richardsimko opened #264 "Bug: Labeling resources multiple times"
### What happened?

The latest version (4.7) is trying to label all resources multiple times. I believe the issue is with this loop which was introduced in #255: https://github.com/Azure/k8s-deploy/blob/b9a9965750c9d436e6136fcf42a3566508673fd1/src/strategyHelpers/deploymentHelper.ts#L259-L266

Each call labels all resources yet it makes one call for each file. This means that for a large deploymen

[2022-11-29 20:19] jaiveerk commented on #264
Hi Richard,
Thanks so much for catching this! I believe the solution here is just to call labelResources on `file` instead of `files`.

We use a loop in this case so that if annotations fail on a single file (or the objects in it), the action proceeds and still applies annotations to every other file passed to it.

This should be a quick fix so we'll try to get a PR out for this soon.

Thanks agai

[2022-11-29 20:30] #264 closed

[2022-11-30 07:57] richardsimko commented on #264
Thanks for the swift fix!